.container {
  margin-right: auto;
  margin-left: auto;
  min-width: 335px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}
.weather-app-card{
    width: 100%;
    border: 1px solid aqua;
    padding: 30px;
}
.weather-city {
    text-align: center;
    line-height: 1.33;
    margin-bottom: 150px;
}
.weather-text {
    
}